#left_menu{
	float:left;
	margin-top:40px;
}
#left_menu h3{
	padding:10px 0 10px 0;
	background:lightgray;
	text-align:center;
	border-radius:20px;
}
#left_menu menu{
	width:130px;
	background:#EEEEEE;
	padding:20px 0 100px 40px;
	border-radius:35px;
}
#left_menu li{
	list-style:none;
	padding-top:20px;
}
#left_menu li a{
	text-decoration:none;
	color:black;
}
#left_menu a:hover{
	padding:10px;
	border-radius:20px;
	background:lightgray;
}
#left_menu li.no a{
	padding:10px;
	border-radius:20px;
	background:lightgray;
}